<%- include('partials/header'); -%>
<h1>Compose</h1>
<form action="/" method="post">
    <div class="form-group">
        <label >Title</label>
        <input type="text" name="posttitle" class="form-control" >
         <label >Post</label>
         <textarea rows="6" cols="25" name="postcontent" class ="form-control" ></textarea>
        <button type="submit" class="btn btn-primary">Publish</button>
    </div>
   
</form>

<%- include('partials/footer'); -%>